<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>List of Students</h1>
<p><a th:href="@{/add}" class="btn btn-primary">Add Student</a></p>
<!--<table class="table table-dark"> -->
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
        <th scope="col">Zip</th>
        <th scope="col">City</th>
        <th scope="col">Action</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="students: ${students}">
        <td th:text="${students.id}" />
        <td th:text="${students.firstName}" />
        <td th:text="${students.lastName}" />
        <td th:text="${students.email}" />
        <td th:text="${students.dateOfBirth}" />
        <td th:text="${students.age}" />
        <td th:text="${students.address}" />
        <td th:text="${students.zip}" />
        <td th:text="${students.city}" />
        <td><a th:href="@{/delete/{id}(id=${students.id})}" class="btn btn-danger">Delete</a>&nbsp;&nbsp;
            <a th:href="@{/edit/{id}(id=${students.id})}" class="btn btn-info">Edit</a></td>

    </tr>
    </tbody>
</table>
</body>
</html>
